
<div class="movieDetails">
	<p> <%= @movie.title %> </p>
	<p> Directed by: <%= @movie.director %> </p>
	<p> <%= @movie.plot %> </p>
	<p> <%= @movie.website %> </p>
	<p> <%= @movie.omdb_id %> </p>
	<img src="<%= @movie.poster %>">
</div>
