<!DOCTYPE html>
<html>
  <head>
    <title>NicsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      logged in as <%= current_user.email %>
      user id: <%= session[:user_id] %>
      <form action="/session" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <button>logout</button>
      </form>
    <% end %>    
    <%= yield %>
  </body>
</html>
